.notification {
	visibility: hidden;
	min-width: 250px;
	background-color: var(--yellow);
	color: var(--text-color);
	text-align: center;
	border-radius: 4px;
	padding: 12px;
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;
}

.notification.show {
	visibility: visible;
	opacity: 1;
}

.spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.spinner svg {
    animation: rotate 1s linear infinite;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 1025px) {
	.burger,
	.mobile-menu {
		display: none;
	}

	header, footer {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		padding: 40px 240px;
	}

	nav > div {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	.icons {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	main {
		margin: 100px 240px;
	}

	.add-container {
		padding: 60px 240px;
		margin-left: -240px;
		margin-right: -240px;
		margin-top: -100px;
		margin-bottom: 100px;
		width: calc(100% + 480px);
	}

	.add-container > div {
		gap: 40px;
	}

	.add-container > div > h3:first-child {
		width: 600px;
	}

	.content-btn {
		font-size: var(--h5);
		padding: 20px 100px;
	}

	.line {
		margin-bottom: 40px;
	}

	.add-olymp {
		width: 575px;
	}

	.add-olymp > h5 {
		padding: 10px 0;
	}

	.calendar-container {
		min-width: 400px;
	}

	aside {
		width: 400px;
	}

	.first-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.future-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.subject {
		flex: 0 0 calc(33.33% - 14px);
	}

	.school-container {
		margin: 60px 0;
	}

	.school-container > div > div {
		margin: 40px 0;
	}

	.school-container > div > div > h5 {
		margin: 10px 0;
	}

	.heart-list-item .add-text,
	.heart-list-item .saved-text {
		display: none !important;
	}

	.list-container > div {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.list-container > div > div{
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 40px;
	}

	.list-container > h2 {
		margin-bottom: 60px;
	}

	.add-text,
	.saved-test {
		display: none;
	}

	.title,
	.do-title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 100px;
	}

	.do-title > div {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.name-mobile {
		display: none;
	}

	.blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 100px;
		margin: 40px 0;
	}

	.first-block {
		gap: 100px;
		margin-right: 100px;
	}

	.first-block > div > h3 {
		margin-bottom: 40px;
	}

	.first-block > div > div > h5,
	.cancel-event > h5 {
		margin-bottom: 10px;
	}

	.cancel-event {
		margin-top: 20px;
	}

	.second-block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 100px;
	}

	.second-block > div > h3 {
		margin-bottom: 40px;
	}

	.contacts > a {
		margin: 20px 0;
	} 

	.lib-card {
		flex: 0 0 calc((100% - 60px) / 3);
		min-width: 500px;
		max-width: 700px;
		gap: 10px;
		display: flex;
		flex-direction: column;
	}

	.lib-cards {
		margin-top: 60px;
	}

	.number {
		gap: 20px;
	}

	.news > div > h2 {
		margin-bottom: 100px;
	}

	.news > div > h3 {
		margin-bottom: 40px;
	}

	.news > div > div > h4 {
		margin-bottom: 20px;
	}

	.text-fnew {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 60px;
	}

	.surname > p {
		margin-bottom: 20px;
	}

	.fnew > img {
		margin: 60px 0;
	}

	.reg-inputs {
		gap: 20px;
	}

	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.reg {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.danger {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
		margin-left: 100px;
	}

	.danger > h5 {
		width: 800px;
	}

	.test-title {
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.test-btn {
		width: 50%;
		margin-bottom: 20px;
	}

	.do-answer {
		padding: 40px;
		gap: 40px;
	}

	.name {
		gap: 10px;
	}

	.img-answer {
		width: 300px;
		height: 300px;
		overflow: hidden;
	}

	.answer-opt {
		width: 80%;
	}

	.answer-btn > input {
		padding: 10px;
	}

	.results {
		padding: 20px 240px;
	}

	.empty-fav {
		gap: 40px;
		margin: 60px 0;
	}

	.student {
		display: flex;
		flex-direction: row;
		gap: 60px;
	}

	.student > div {
		gap: 20px;
	}

	.student-col {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 100px;
	}

	.student-col > div {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.student-col > div > div {
		gap: 20px;
	}

	.fnew {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.admin {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

}