@media (min-width: 1440px) {
	.mobile {
		display: none;
	}

	header, footer {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		padding: 40px 240px;
	}

	nav > div {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	.icons {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	.add-container {
		padding: 60px 240px;
	}

	.add-container > div {
		gap: 40px;
	}

	.add-container > div > h3:first-child {
		width: 600px;
	}

	button {
		font-size: var(--h5);
		padding: 20px 100px;
	}

	main {
		margin: 100px 240px;
	}

	.line {
		margin-bottom: 40px;
	}

	.add-olymp {
		width: 575px;
	}

	.add-olymp > h5 {
		padding: 10px 0;
	}

	.calendar-container {
		min-width: 400px;
	}

	aside {
		width: 400px;
	}

	.first-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.future-container {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.school-container {
		margin: 60px 0;
	}

	.school-container > div > div {
		margin: 40px 0;
	}

	.school-container > div > div > h5 {
		margin: 10px 0;
	}

	.list-container > div {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.list-container > div > div{
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 40px;
	}

	.list-container > h2 {
		margin-bottom: 60px;
	}

	.add-text,
	.saved-test {
		display: none;
	}

	.blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 100px;
	}

	.title > div {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.name-mobile {
		display: none;
	}

	.first-block {
		gap: 100px;
		width: 350px;
	}

	.first-block > div > h3 {
		margin-bottom: 40px;
	}

	.first-block > div > div > h5,
	.cancel-event > h5 {
		margin-bottom: 10px;
	}

	.cancel-event {
		margin-top: 20px;
	}

	.first-block a {
		max-width: 100px;
	}

	.second-block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 100px;
		max-width: 900px;
	}

	.second-block > div > h3 {
		margin-bottom: 40px;
	}

	.contacts > a {
		margin: 20px 0;
	} 

	.number {
		gap: 20px;
	}

	.news > div > h2 {
		margin-bottom: 100px;
	}

	.news > div > h3 {
		margin-bottom: 40px;
	}

	.news > div > div > h4 {
		margin-bottom: 20px;
	}

	.text-fnew {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 60px;
	}

	.surname > p {
		margin-bottom: 20px;
	}

	img	{
		margin: 60px 0;
	}

	.lib-cards {
		margin-top: 60px;
	}

	.lib-card {
		gap: 20px;
		flex: 0 0 calc(33.333% - 20px);
		padding: 30px;
	}

	.reg-inputs {
		gap: 20px;
	}

	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.reg {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.danger {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.danger > h5 {
		width: 800px;
	}
}