@media (min-width: 320px) and (max-width: 767px) {
	.icons,
	.add-container > div > h1,
	.list-container > div > div > h5 {
		display: none;
	}

	.logo,
	.line,
	.school-container > div > h4,
	.school-container > div > div > h4,
	.list-container > h2 {
		font-size: var(--h5);
	}

	.logo > span,
	.add-container > div > h3,
	.content-btn,
	.olymp > h4,
	.school-container > div > h5,
	.school-container > div > div > h5,
	.subject > h5,
	.subject > p,
	.list-container > div > div > h3,
	.list-container > div > div > h3  {
		font-size: var(--h6);
	}

	.olymp > h5,
	.list-container > div > div > h4  {
		font-size: var(--p);
	}

	header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		padding: 30px 20px;
	}

	.logo {
		align-items: center;
	}

	nav > div,
	.mobile{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		margin-top: 20px;
	}

	.add-container {
		padding: 40px 0;
	}

	.add-container > div {
		gap: 20px;
	}

	.add-container > div > h3 {
		width: 290px;
	}

	.content-btn {
		padding: 10px 60px;
	}

	main {
		margin: 40px 20px;
	}

	.line {
		margin-bottom: 20px;
	}

	.olymp > h5 {
		padding: 10px 0;
	}

	.first-container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.school-container {
		margin: 40px 0;
	}

	.school-container > div > div {
		margin: 20px 0;
	}

	.school-container > div > div > h5 {
		margin: 10px 0;
	}

	.school-container > div > h5 {
		margin-top: 20px;
	}

	.future-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 20px;
		padding: 40px 20px;
	}
	}
}
