<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Панель администратора</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">
	<link rel="stylesheet" href="../static/css/styles.css">

	<script src="{{ url_for('static', filename='js/updateUser.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/notification.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/loading.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/getUsers.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/getTests.js') }}" defer></script>
</head>
<body>
	<header>
		<div class="header-top">
			<a href="/" class="h5 logo bold"> 
				ЧЭнК.Олимпиады
				<span class="p">От колледжа ЧЭнК</span>
			</a>
		</div>
		<div class="admin">
			<div class="column">
				<h6 class="h6 bold username"></h6>
				<p class="p normal role"></p>
			</div>
			<button class="bold admin-btn h6" onclick="logout()">Выход</button>
		</div>
	</header>
	<main>
		<section class="menu-blocks">
			<aside class="first-block">
				<div class="menu">
					<div class="olympiads">
						<button class="menu-btn bold h5">Олимпиады</button>
						<div>
							<a href="#olympiads" class="h6 iconoir-book-solid menu-icon">Список олимпиад</a>
							<a href="#create" class="h6 iconoir-plus-circle-solid menu-icon">Добавить</a>
							<a href="#edit" class="h6 iconoir-page-edit menu-icon">Изменить</a>
							<a href="#delete" class="h6 iconoir-minus-circle-solid menu-icon">Удалить</a>
						</div>
					</div>
					<div class="tests">
						<button class="menu-btn bold h5">Тесты</button>
						<div>
							<a href="#test" class="h6 iconoir-book-solid menu-icon">Список тестов</a>
							<a href="#create_test" class="h6 iconoir-plus-circle-solid menu-icon">Создать</a>
							<a href="#" class="h6 iconoir-page-edit menu-icon">Изменить</a>
							<a href="#" class="h6 iconoir-minus-circle-solid menu-icon">Удалить</a>
						</div>
					</div>
					<div class="members">
						<button class="menu-btn bold h5">Участники</button>
						<div>
							<a href="#student" class="h6 iconoir-user-circle menu-icon">Список участников</a>
							<a href="#part" class="h6 iconoir-check-circle-solid menu-icon">Подтвердить</a>
						</div>
					</div>
					<div class="teachers">
						<button class="menu-btn bold h5">Преподаватели</button>
						<div>
							<a href="#teachers" class="h6 iconoir-profile-circle menu-icon">Все преподаватели</a>
							<a href="#activate_teachers" class="h6 iconoir-check-circle-solid menu-icon">Назначить</a>
						</div>
					</div>
					<div class="news">
						<button class="menu-btn bold h5">Новости</button>
						<div>
							<a href="#" class="h6 iconoir-post-solid menu-icon">Все новости</a>
							<a href="#" class="h6 iconoir-plus-circle-solid menu-icon">Добавить</a>
							<a href="#" class="h6 iconoir-page-edit menu-icon">Изменить</a>
							<a href="#" class="h6 iconoir-minus-circle-solid menu-icon">Удалить</a>
						</div>
					</div>
			</aside>
			<section class="second-block">
 				<div class="menu-olympiads" id="olympiads" style="display: none;">
					<h2 class="h2 bold">Список олимпиад</h2>
					<div>
						<a href="#" class="h5 normal">Ссылка</a>
					</div>
				</div>

 				<div class="menu-create" id="create" style="display: none;">
					<h2 class="h2 bold">Создать олимпиаду</h2>
					<div>
						<div class="create row">
						    <div class="menu-column">
						        <div class="input-group">
						            <label for="name" class="h6">Название олимпиады</label>
						            <input type="text" id="name" placeholder="Например: «Олимпиада по математике»" required>
						        </div>
						        <div class="input-group">
						            <label for="subject" class="h6">Предмет или специальность</label>
						            <input type="text" id="subject" placeholder="Например: Математика" required>
						        </div>
						        <div class="input-group">
						            <label for="deadline" class="h6">Сроки отправки заявок</label>
						            <input type="text" id="deadline" placeholder="Например: до 15 декабря 2025 года">
						        </div>
						        <div class="input-group">
						            <label for="short-desc" class="h6">Описание олимпиады</label>
						            <input type="text" id="short-desc" placeholder="Например: Всероссийская олимпиада для старшеклассников" required>
						        </div>
						        <div class="input-group">
						            <label for="dates" class="h6">Сроки проведения олимпиады</label>
						            <input type="text" id="dates" placeholder="Например: январь–февраль 2025" required>
						        </div>
						        <div class="input-group">
						            <label for="schedule" class="h6">Расписание туров</label>
						            <input type="text" id="schedule" placeholder="Например: Отборочный тур — 10 января, финал — 10 февраля" required>
						        </div>
						    </div>
						    <div class="menu-column">
						        <div class="input-group">
						            <label for="docs" class="h6">Список документов</label>
						            <input type="text" id="docs" placeholder="Например: Заявка на проведение олимпиады">
						        </div>
						        <div class="input-group">
						            <label for="organizers" class="h6">Организаторы олимпиады</label>
						            <input type="text" id="organizers" placeholder="Например: Колледж ЧЭнк">
						        </div>
						        <div class="input-group">
						            <label for="contacts" class="h6">Контакты организаторов</label>
						            <input type="text" id="contacts" placeholder="Например: olympiad@edu.ru">
						        </div>
						        <div class="input-group">
						            <label for="features" class="h6">Особенности олимпиады</label>
						            <input type="text" id="features" placeholder="Например: Индивидуальное участие">
						        </div>
						        <div class="input-group">
						            <label for="topics" class="h6">Какие темы повторить для прохождения олимпиады</label>
						            <input type="text" id="topics" placeholder="Например: Алгебра, геометрия, теория вероятностей">
						        </div>
						    </div>
						</div>
						<div class="menu-dop">
							<h4 class="h4 bold">Заполнение дополнительной информации</h4>
							<div class="menu-column">
								<div class="input-group">
								  <label for="tasks" class="h6">Добавить количество заданий</label>
								  <input type="text" id="tasks" placeholder="Например: 10 заданий" required>
								</div>

								<div class="input-group">
								  <label for="points" class="h6">Добавить количество баллов</label>
								  <input type="text" id="points" placeholder="Например: 100 баллов" required>
								</div>

								<div class="input-group">
								  <label for="time" class="h6">Добавить время на проведение олимпиады</label>
								  <input type="text" id="time" placeholder="Например: 3 часа" required>
								</div>
							</div>
						</div>
						<div class="task-form">
							<div class="row">
								<div class="menu-column">
									<div class="input-group">
										<label for="task-number" class="h6">Номер задания</label>
										<input type="text" id="task-number" placeholder="Введите номер задания">
									</div>
									<div class="input-group">
										<label for="task-text" class="h6">Текст задания</label>
										<textarea id="task-text" placeholder="Введите текст задания"></textarea>
									</div>
								</div>
								<div class="menu-column">
									<div class="input-group">
										<label for="answer-options" class="h6">Варианты ответов</label>
										<select id="answer-options">
											<option value="one">Один правильный</option>
											<option value="multiple">Много правильных</option>
										</select>
									</div>
									<div class="input-group">
										<label for="points" class="h6">Количество баллов</label>
										<input type="number" id="points" placeholder="Введите количество баллов">
									</div>
								</div>
							</div>
							<div class="input-group">
								<label for="answer" class="h6">Ответ / Не указывать</label>
								<textarea id="answer" placeholder="Введите ответ"></textarea>
							</div>
							<div class="controls">
								<button class="add-button" class="h6">Добавить</button>
								<button class="delete-button" class="h6">Удалить</button>
							</div>
						</div>	
					</div>
					<button class="content-btn bold">Сохранить</button>
				</div>

 				<div class="menu-create" id="edit" style="display: none;">
					<h2 class="h2 bold">Изменить олимпиаду</h2>
					<!-- сюда див без класса -->
					<button class="content-btn bold">Сохранить изменения</button>
				</div>

 				<div class="menu-del" id="delete" style="display: none;">
					<h2 class="h2 bold">Удалить олимпиаду</h2>
					<div>
						<div class="delete">
							<a href="#" class="h5 normal">Ссылка</a>
							<h6 class="bold h6">Удалить</h6>
						</div>
					</div>
				</div>

				<div class="menu-st" id="test" style="display: none;">
					<h2 class="h2 bold">Список тестов</h2>
					<div id="admin-tests-container"></div>
				</div>

 				<div class="menu-test" id="create_test" style="display: none;">
					<h2 class="h2 bold">Создать тест</h2>
					<form id="test-form">
						<div class="form-group">
							<label for="test-name" class="h6">Название теста</label>
							<input type="text" id="test-name" placeholder="Введите название теста">
						</div>
						<div class="form-group">
							<label for="test-description" class="h6">Описание теста</label>
							<textarea id="test-description" placeholder="Введите описание теста"></textarea>
						</div>
						<div class="form-group">
							<label for="question-count" class="h6">Количество вопросов</label>
							<input type="number" id="question-count" placeholder="Введите количество вопросов">
						</div>
			
						<h2 class="h5">Добавить вопросы</h2>
						<div id="questions-container">
							<div class="question-card">
								<div class="form-group">
									<label for="question-number" class="h6">Номер вопроса</label>
									<input type="text" id="question-number" placeholder="Введите номер вопроса">
								</div>

								<div class="form-group">
									<label for="question-text" class="h6">Текст вопроса</label>
									<textarea id="question-text" placeholder="Введите текст вопроса"></textarea>
								</div>

								<div class="form-group">
									<label class="h6">Варианты ответов</label>
									<div id="answer-options">
										<div class="answer-option">
											<input type="text" placeholder="Введите вариант ответа">
											<textarea placeholder="Введите описание варианта"></textarea>
											<input type="checkbox" name="correct-answer">
											<label class="h6">Правильный ответ?</label>
										</div>
									</div>
									<button type="button" class="add-answer">Добавить вариант ответа</button>
								</div>
								<button type="button" class="add-question">Добавить вопрос</button>
							</div>
						</div>
						<button type="submit" class="content-btn bold">Сохранить тест</button>
					</form>
				</div>

				<div class="menu-st" id="student" style="display: none;">
					<h2 class="h2 bold">Список участников</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

				<div class="menu-st" id="part" style="display: none;">
					<h2 class="h2 bold">Подтверждение участника</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
					<div id="users-container"></div>
				</div>

				<div class="menu-st" id="teachers" style="display: none;">
					<h2 class="h2 bold">Список преподавателей</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

				<div class="menu-st" id="activate_teachers" style="display: none;">
					<h2 class="h2 bold">Назначение преподавателем</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

			</section>
		</section>
	</main>
	<script src="../static/js/addVar.js"></script>
	<script src="../static/js/password.js"></script>
	<script src="../static/js/blocks.js"></script>
</body>
</html>