<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Панель администратора</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">
	<link rel="stylesheet" href="../static/css/styles.css">

	<script src="{{ url_for('static', filename='js/updateUser.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/notification.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/loading.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/getUsers.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/getTests.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/getOlymp.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/create_test_and_answer.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/create_olymp.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/logout.js') }}" defer></script>
</head>
<body>
	<header>
		<div class="header-top">
			<a href="/" class="h5 logo bold"> 
				ЧЭнК.Олимпиады
				<span class="p">От колледжа ЧЭнК</span>
			</a>
		</div>
		<div class="admin">
			<div class="column">
				<h6 class="h6 bold username"></h6>
				<p class="p normal role"></p>
			</div>
			<button class="bold admin-btn h6" onclick="logout()">Выход</button>
		</div>
	</header>
	<main>
		<section class="menu-blocks">
			<aside class="first-block">
				<div class="menu">
					<div class="olympiads">
						<button class="menu-btn bold h5">Олимпиады</button>
						<div>
							<a href="#olympiads" class="h6 iconoir-book-solid menu-icon">Список олимпиад</a>
							<a href="#create_olymp" class="h6 iconoir-plus-circle-solid menu-icon">Добавить</a>
						</div>
					</div>
					<div class="tests">
						<button class="menu-btn bold h5">Тесты</button>
						<div>
							<a href="#test" class="h6 iconoir-book-solid menu-icon">Список тестов</a>
							<a href="#create_test" class="h6 iconoir-plus-circle-solid menu-icon">Создать</a>
						</div>
					</div>
					<div class="members">
						<button class="menu-btn bold h5">Участники</button>
						<div>
							<a href="#student" class="h6 iconoir-user-circle menu-icon">Список участников</a>
							<a href="#part" class="h6 iconoir-check-circle-solid menu-icon">Подтвердить</a>
						</div>
					</div>
<!-- 					<div class="teachers">
						<button class="menu-btn bold h5">Преподаватели</button>
						<div>
							<a href="#teachers" class="h6 iconoir-profile-circle menu-icon">Все преподаватели</a>
							<a href="#activate_teachers" class="h6 iconoir-check-circle-solid menu-icon">Назначить</a>
						</div>
					</div> -->
<!-- 					<div class="news">
						<button class="menu-btn bold h5">Новости</button>
						<div>
							<a href="#" class="h6 iconoir-post-solid menu-icon">Все новости</a>
							<a href="#" class="h6 iconoir-plus-circle-solid menu-icon">Добавить</a>
							<a href="#" class="h6 iconoir-page-edit menu-icon">Изменить</a>
							<a href="#" class="h6 iconoir-minus-circle-solid menu-icon">Удалить</a>
						</div>
					</div> -->
			</aside>
			<section class="second-block">
 				<div class="menu-olympiads" id="olympiads" style="display: none;">
					<h2 class="h2 bold">Список олимпиад</h2>
					<div id="admin-olymps-container"></div>
				</div>

 				<div class="menu-test" id="create_olymp" style="display: none;">
					<h2 class="h2 bold">Создать олимпиаду</h2>
					<form id="olymp-form">
						<div class="form-group">
							<label for="olymp-name" class="h6">Название олимпиады</label>
							<input type="text" id="olymp-name" placeholder="Введите название олимпиады">
						</div>
						<div class="form-group">
							<label for="olymp-description" class="h6">Описание олимпиады</label>
							<textarea id="olymp-description" placeholder="Введите описание олимпиады"></textarea>
						</div>
						<div class="form-group">
							<label for="duration">Длительность (минуты):</label>
							<input type="number" id="olymp-duration" name="duration" value="180">
							
							<label for="start_time">Дата и время начала:</label>
							<input type="datetime-local" id="olymp-start_time" name="start_time">
							
							<label for="end_time">Дата и время окончания:</label>
							<input type="datetime-local" id="olymp-end_time" name="end_time">
						</div>
						<div class="form-group">
							<label for="question-count" class="h6">Система оценивания</label>
							<label for="question-count" class="h6">Сколько процентов нужно получить для нужной оценки</label>
							<div class="row">
								<input type="number" data-olymp-grade="5" placeholder="Оценка: 5" min="0" max="100" value="90" required>
								<input type="number" data-olymp-grade="4" placeholder="Оценка: 4" min="0" max="100" value="80" required>
								<input type="number" data-olymp-grade="3" placeholder="Оценка: 3" min="0" max="100" value="60" required>
								<input type="number" data-olymp-grade="2" placeholder="Оценка: 2" min="0" max="100" value="50" required>
							</div>
						</div>

						<h2 class="h5">Добавить вопросы</h2>
						<div id="questions-container"></div>
						<button type="button" class="add-question">Добавить вопрос</button>
						<button type="submit" class="content-btn bold">Сохранить тест</button>
					</form>
				</div>

 				<div class="menu-create" id="edit" style="display: none;">
					<h2 class="h2 bold">Изменить олимпиаду</h2>
					<!-- сюда див без класса -->
					<button class="content-btn bold">Сохранить изменения</button>
				</div>

 				<div class="menu-del" id="delete" style="display: none;">
					<h2 class="h2 bold">Удалить олимпиаду</h2>
					<div>
						<div class="delete">
							<a href="#" class="h5 normal">Ссылка</a>
							<h6 class="bold h6">Удалить</h6>
						</div>
					</div>
				</div>

				<div class="menu-st" id="test" style="display: none;">
					<h2 class="h2 bold">Список тестов</h2>
					<div id="admin-tests-container"></div>
				</div>

 				<div class="menu-test" id="create_test" style="display: none;">
					<h2 class="h2 bold">Создать тест</h2>
					<form id="test-form">
						<div class="form-group">
							<label for="test-name" class="h6">Название теста</label>
							<input type="text" id="test-name" placeholder="Введите название теста">
						</div>
						<div class="form-group">
							<label for="test-description" class="h6">Описание теста</label>
							<textarea id="test-description" placeholder="Введите описание теста"></textarea>
						</div>
						<div class="form-group">
							<label for="question-count" class="h6">Система оценивания</label>
							<label for="question-count" class="h6">Сколько процентов нужно получить для нужной оценки</label>
							<div class="row">
								<input type="number" data-grade="5" placeholder="Оценка: 5" min="0" max="100" value="90" required>
								<input type="number" data-grade="4" placeholder="Оценка: 4" min="0" max="100" value="80" required>
								<input type="number" data-grade="3" placeholder="Оценка: 3" min="0" max="100" value="60" required>
								<input type="number" data-grade="2" placeholder="Оценка: 2" min="0" max="100" value="50" required>
							</div>
						</div>

						<h2 class="h5">Добавить вопросы</h2>
						<div id="questions-container-test"></div>
						<button type="button" class="add-question-tests">Добавить вопрос</button>
						<button type="submit" class="content-btn bold">Сохранить тест</button>
					</form>
				</div>

				<div class="menu-st" id="student" style="display: none;">
					<h2 class="h2 bold">Список участников</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

				<div class="menu-st" id="part" style="display: none;">
					<h2 class="h2 bold">Подтверждение участника</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
					<div id="users-container"></div>
				</div>

				<div class="menu-st" id="teachers" style="display: none;">
					<h2 class="h2 bold">Список преподавателей</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

				<div class="menu-st" id="activate_teachers" style="display: none;">
					<h2 class="h2 bold">Назначение преподавателем</h2>
					<div style="margin-bottom: 20px;">
						<input type="text" id="user-search" placeholder="Поиск по ФИО...">
					</div>
				</div>

			</section>
		</section>
	</main>
	<script src="../static/js/password.js"></script>
	<script src="../static/js/blocks.js"></script>
</body>
</html>