<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% block title %}Задай название{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/x-icon">
	<meta name="theme-color" content="#FFF5EE">


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

	<link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
	<header>
		<div class="header-top">
			<a href="/" class="h5 logo bold"> 
				ЧЭнК.Олимпиады
				<span class="p">От колледжа ЧЭнК</span>
			</a>
			<button class="burger" aria-label="Открыть меню">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 12H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
					<path d="M3 6H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
					<path d="M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
				</svg>
			</button>
		</div>
		<nav>
			<div class="desktop-nav">
				<a href="/olympiads" class="h6 bold">Олимпиады</a>
				<a href="/news" class="h6 bold">Новости</a>
				<a href="/library" class="h6 bold">Библиотека</a>
			</div>
		</nav>
		<nav class="mobile-menu">
			<div class="mobile-menu-content">
				<button class="close-btn" aria-label="Закрыть меню">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
						<path d="M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
					</svg>
				</button>
				<a href="/olympiads" class="h6 bold">Олимпиады</a>
				<a href="/news" class="h6 bold">Новости</a>
				<a href="/library" class="h6 bold">Библиотека</a>
				<a href="/favorites" class="h6 bold">Избранное</a>
				<a href="/login" class="h6 bold">Профиль</a>
			</div>
		</nav>

		<div class="icons">
			<a href="/favorites" class="icon-link iconoir-favourite-book"></a>
			<a href="/login" class="icon-link iconoir-profile-circle"></a>
		</div>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<button id="backToTop" class="back-to-top" aria-label="Вернуться наверх">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 4L4 12H9V20H15V12H20L12 4Z" fill="#fff"/>
		</svg>
	</button>
	<footer>
		<p class="p">© 2025 Челябинский энергетический колледж им. С.М. Кирова</p>
		<p class="p">falpin: Олимпиады</p>
	</footer>
	{% block scripts %}{% endblock %}
</body>
</html>