<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Главная</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<header>
		<div>
			<a href="#" class="logo"> 
				ЧЭнК.Олимпиады
				<span>От колледжа ЧЭнК</span>
			</a>
		</div>
		<nav>
			<div>
				<a href="#">Олимпиады</a>
				<a href="#">Новости</a>
				<a href="#">Библиотека</a>
				<div class="mobile">
					<a href="#">Избранное</a>
					<a href="#">Профиль</a>
				</div>
			</div>
		</nav>
		<div class="icons">
			<a href="#" class="icon-link">
			  <svg class="custom-icon" width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			    <path d="M4 19V5C4 3.89543 4.89543 3 6 3H19.4C19.7314 3 20 3.26863 20 3.6V16.7143" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			    <path d="M16 8.77975C16 9.38118 15.7625 9.95883 15.3383 10.3861C14.3619 11.3701 13.415 12.3961 12.4021 13.3443C12.17 13.5585 11.8017 13.5507 11.5795 13.3268L8.6615 10.3861C7.7795 9.49725 7.7795 8.06225 8.6615 7.17339C9.55218 6.27579 11.0032 6.27579 11.8938 7.17339L11.9999 7.28027L12.1059 7.17345C12.533 6.74286 13.1146 6.5 13.7221 6.5C14.3297 6.5 14.9113 6.74284 15.3383 7.17339C15.7625 7.60073 16 8.17835 16 8.77975Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
			    <path d="M6 17L20 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			    <path d="M6 21L20 21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			    <path d="M6 21C4.89543 21 4 20.1046 4 19C4 17.8954 4.89543 17 6 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			  </svg>
			</a>
			<a href="#" class="icon-link">
			  <svg class="custom-icon" width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			    <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			    <path d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			    <path d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			  </svg>
			</a>
		</div>
	</header>
	<section class="add-container">
		<div>
			<h3>
				Представляем нашу новую платформу
			    <span>ЧЭнК.Олимпиады</span>
			</h3>
			<h1>
				"Здесь олимпиады становятся вызовом, а знания - ключом к успеху"
			</h1>
			<h3>
				Это не просто платформа, это ваш проводник в мир безграничных возможностей
			</h3>
			<button class="content-btn">Войти</button>
		</div>
	</section>
	<main>
		<section class="first-container">
			<div>
				<h2 class="line">Олимпиады</h2>
				<div class="olymp">
					<h4>Олимпиада по математике</h4>
					<h4 id="order">Заявки на участие принимаются до 10 сентября</h4>
					<h5>
						с <span>01.04.2025</span>
						до <span>14.04.2025</span>
					</h5>
				</div>
				<div class="arrow">
					<a href="#">Перейти к олимпиадам</a>
					<svg class="custom-icon" width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					  <path d="M6.75 12H16.75M16.75 12L14 14.75M16.75 12L14 9.25" stroke="#795548" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</div>
			<aside>
			  <div class="calendar-container">
			  	<h2 class="line">Календарь</h2>
			    <div class="calendar-header">
			      <button class="icon-button prev" id="prev-month">
			        <svg class="custom-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
			          xmlns="http://www.w3.org/2000/svg">
			          <path d="M16.75 12H6.75M6.75 12L9.5 14.75M6.75 12L9.5 9.25" stroke="currentColor" stroke-width="1.5"
			            stroke-linecap="round" stroke-linejoin="round" />
			        </svg>
			      </button>
			      <h2 id="month-year"></h2>
			      <button class="icon-button next" id="next-month">
			        <svg class="custom-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
			          xmlns="http://www.w3.org/2000/svg">
			          <path d="M6.75 12H16.75M16.75 12L14 14.75M16.75 12L14 9.25" stroke="currentColor" stroke-width="1.5"
			            stroke-linecap="round" stroke-linejoin="round" />
			        </svg>
			      </button>
			    </div>

			    <!-- Дни недели -->
			    <div class="week-days">
			      <div>Пн</div>
			      <div>Вт</div>
			      <div>Ср</div>
			      <div>Чт</div>
			      <div>Пт</div>
			      <div>Сб</div>
			      <div>Вс</div>
			    </div>

			    <!-- Календарь с числами -->
			    <div class="calendar-days" id="calendar-days"></div>

			   <div class="events-list" id="events-list">
			        <h3>События</h3>
			        <ul id="event-details"></ul>
			      </div>
			  </div>
			</aside>
		</section>
		<section class="school-container">
			<div>
				<h2 class="line">Как к нам присоединиться</h2>
				<h5>
					Наша платформа помогает школам вовлекать учащихся в интелектуальных соревнования, развивать их навыки и находить таланты.
				</h5>
				<div>
					<h4>Как это работает?</h4>
					<h5>
						Быстрая регистрация – подайте заявку на подключение школы;
						Доступ к олимпиадам – участвуйте в конкурсах по разным предметам;
						Мониторинг результатов – отслеживайте успехи учеников в личном кабинете;
						Сертификаты и награды – получайте дипломы для участников и благодарности для педагогов;
					</h5>
				</div>
				<div>
					<h4>Премущества для школ</h4>
					<h5>
						Бесплатное участие в большинстве олимпиад;
						Возможность организации собственных конкурсов;
						Методическая поддержка для преподавателей;
					</h5>
				</div>
				<button class="content-btn">Присоединиться</button>
			</div>
		</section>
		<section>
			<h2 class="line">Будущие олимпиады</h2>
			<div class="future-container">
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
			</div>
			<div class="future-container">
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
				<div class="subject">
					<h5>Математика</h5>
					<h5>
					    Дата проведения:
					    <span>10 мая 2025</span>
					</h5>
					<p id="timing" class="orange">Скоро</p>
				</div>
			</div>
		</section>
		</main>
	<footer>
		<p>© 2025 Челябинский энергетический колледж им. С.М. Кирова</p>
		<p>falpin: Олимпиады</p>
	</footer>
</body>
</html>