{% extends "base.html" %}
{% block title %}Библиотека материалов{% endblock %}
{% block content %}
<div class="column gap-10-20">
	<!-- <h2 class="h2 bold">Библиотека материалов</h2>
	<h3 class="h3 bold">Пробуй повторять темы с помощью тестов</h3> -->
	<h2 class="h2 bold">Олимпиады для школьников</h2>
</div>
<section id="tests-container" class="lib-cards">
	
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/script.js"></script>
<script src="{{ url_for('static', filename='js/getTests.js') }}" defer></script>
{% endblock %}