{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block content %}
<div class="news">
	<div>
		<h2 class="h2 bold">Новости</h2>
	</div>
	<div>
		<h3 id="today" class="h3">Сегодня</h3>
		<div>
			<h4 class="h4 bold">Итоги олимпиады по веб-разработке</h4>
			<h5 class="h5 normal">
				В Нальчике завершились соревнования заключительного этапа Всероссийской олимпиады по географии. 
				В рамках теоретического и тестового туров школьники отвечали на вопросы по различным разделам географии. 
				На практическом испытании участники проходили 8 локаций.
			</h5>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}