<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Новости</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	{% include 'header.html' %}
	<main>
		<h1 class="bold">Новости</h1>
		<section>
			<h2 id="today">Сегодня</h2>
			<div>
				<h3 class="bold">Итоги олимпиады по веб-разработке</h3>
				<h5>
					В Нальчике завершились соревнования заключительного этапа Всероссийской олимпиады по географии. 
					В рамках теоретического и тестового туров школьники отвечали на вопросы по различным разделам географии. 
					На практическом испытании участники проходили 8 локаций.
				</h5>
			</div>
		</section>
	</main>
	{% include 'footer.html' %}
</body>
</html>