<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Новости</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	{% include 'header.html' %}
	<main>
		<div class="news">
			<div>
				<h2 class="h2 bold">Новости</h2>
			</div>
			<div>
				<h3 id="today" class="h3">Сегодня</h3>
				<div>
					<h4 class="h4 bold">Итоги олимпиады по веб-разработке</h4>
					<h5 class="h5 normal">
						В Нальчике завершились соревнования заключительного этапа Всероссийской олимпиады по географии. 
						В рамках теоретического и тестового туров школьники отвечали на вопросы по различным разделам географии. 
						На практическом испытании участники проходили 8 локаций.
					</h5>
				</div>
			</div>
		</div>
	</main>
	<button id="backToTop" class="back-to-top" aria-label="Вернуться наверх">
	  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	    <path d="M12 4L4 12H9V20H15V12H20L12 4Z" fill="#fff"/>
	  </svg>
	</button>
	{% include 'footer.html' %}
</body>
</html>