{% extends "base.html" %}
{% block title %}Проведение олимпиады{% endblock %}
{% block content %}

<section>
	<div class="do-title">
		<div>
			<h2 class="h2 bold">
				Олимпиада по веб-разработке
			</h2>
			<h5 class="h5 bold gray">
				<span>Всего 5 вопросов</span>
			</h5>
		</div>
		<div>
			<button class="timer h5 bold">60:00</button>
		</div>
	</div>
	<div class="do-answer">
		<div class="name">
			<h5 class="h5 bold">Задание 1</h5>
			<p class="p normal gray">1 балл</p>
		</div>
		<div>
			<h6 class="h6 normal">
				Утром вылупилось 7 цыплят, а вечером — ещё 3 цыплёнка. Сколько цыплят вылупилось?
			</h6>
		</div>
		<div class="img-answer">
			<img src="../static/img/image2.png" alt="прмиерная">
		</div>
		<div class="answer-btn">
			<input class="h5" type="text" name="answer" placeholder="Ответ" required>
		</div>
	</div>
	<button class="content-btn h5 bold mt-40">Отправить</button>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/script.js"></script>
{% endblock %}