{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div class="student">
	<div class="column">
		<h3 class="h3 bold username">Загрузка...</h3>
		<h4 class="h4 normal email"></h4>
		<h4 class="h4 normal phone"></h4>
		<h4 class="h4 bold school"></h4>
		<button onclick="logout()" class="content-btn bold">Выйти</button>
	</div>
</div>
<div class="student-col">
	<div>
		<h2 class="h2 bold">Участие в олимпиадах</h2>
		<div class="column">
			<h4 class="h4 normal">Математика для умных 2024</h4>
			<h4 class="h4 normal">Математика для умных 2024</h4>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/script.js"></script>
<script src="{{ url_for('static', filename='js/logout.js') }}" defer></script>
{% endblock %}