{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div class="student">
	<div class="column">
		<h3 class="h3 bold username">Загрузка...</h3>
		<h4 class="h4 normal email"></h4>
		<h4 class="h4 normal phone"></h4>
		<h4 class="h4 bold school"></h4>
		<button onclick="logout()" class="content-btn bold">Выйти</button>
	</div>
</div>
<div class="student-col row">
	<div>
		<h2 class="h2 bold">Пройденные олимпиады</h2>
		<div class="column good_olympiads">
		</div>
	</div>
	<div>
		<h2 class="h2 bold">Пройденные тесты</h2>
		<div class="column good_tests">
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/script.js"></script>
<script src="{{ url_for('static', filename='js/logout.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}