{% extends "base.html" %}
{% block title %}Проведение теста{% endblock %}
{% block content %}
<section>
	<div>
		<h2 class="h2 bold">
			Верстальный челлендж: создайте "Танцующего котика"
		</h2>
		<h5 class="h5 bold gray">
			<span>Тест</span>
			|
			<span>Всего 5 вопросов</span>
		</h5>
	</div>
	<div class="text-fnew">
		<h5 class="h5 normal">
			В Нальчике завершились соревнования заключительного этапа Всероссийской олимпиады по географии. 
			В рамках теоретического и тестового туров школьники отвечали на вопросы по различным разделам географии. 
			На практическом испытании участники проходили 8 локаций.
		</h5>
	</div>
	<div class="test">
		<div class="test-title">
			<h5 class="h5 bold mb-10">Вопрос 1</h5>
			<h5 class="h5 normal">Начнем со сказок. Попробуйте определить, кто тут лишний:</h5>
		</div>

		<!-- Контейнер для уведомления -->
		<div class="feedback-container">
			<span class="feedback-text"></span>
		</div>

		<div class="answer-opt">
			<button class="h6 normal test-btn">Леший</button>
			<button class="h6 normal test-btn">Баба Яга</button>
			<button class="h6 normal test-btn">Кикимора</button>
			<button class="h6 normal test-btn">Домовой</button>
		</div>
	</div>
	<div class="arrow row bold">
		<a href="#" class="h5">Следующий вопрос</a>
		<svg class="custom-icon" width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6.75 12H16.75M16.75 12L14 14.75M16.75 12L14 9.25" stroke="#795548" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/script.js"></script>
{% endblock %}>