<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация для преподавателей</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	{% include 'header.html' %}
	<main>
		<div class="m-60-40-20">
			<h2 class="h2">Вход для преподавателей</h2>
		</div>
		<section class="form-container">
			<div class="reg">
				<form action="#">
					<div class="reg-inputs">
						<input class="h5" type="email" name="email" placeholder="Введите почту" required>
						<input class="h5" type="password" name="password" placeholder="Введите пароль">
						<button type="submit" class="content-btn h5 bold">Отправить</button>
					</div>
				</form>
				<p class="p">
					Еще не зарегистрированы?
					<a href="/tregister" class="bold">Зарегистрироваться</a>
				</p>
				<a href="/register" class="p bold">Вы ученик?</a> 
			</div>
			<div class="danger">
				<svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5">
				  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.61617 3.6419C10.6736 1.80296 13.3268 1.80296 14.3841 3.6419L22.4271 17.6296C23.4813 19.463 22.1579 21.7504 20.0431 21.7504H3.95721C1.84242 21.7504 0.519055 19.463 1.57322 17.6296L9.61617 3.6419ZM12 8.25C12.4142 8.25 12.75 8.58579 12.75 9V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V9C11.25 8.58579 11.5858 8.25 12 8.25ZM12.5675 17.5008C12.8446 17.1929 12.8196 16.7187 12.5117 16.4416C12.2038 16.1645 11.7296 16.1894 11.4525 16.4973L11.4425 16.5084C11.1654 16.8163 11.1904 17.2905 11.4983 17.5676C11.8062 17.8447 12.2804 17.8197 12.5575 17.5119L12.5675 17.5008Z" fill="#D94807"></path>
				</svg>
				<h5 class="h5 normal">
					Данная форма принадлежит для входа преподавателей, если вы ученик вернитесь на свою форму!
				</h5>
			</div>
		</section>
	</main>
	{% include 'footer.html' %}
	<script src="../static/js/script.js"></script>
</body>
</html>